---
const categories = [
  {
    name: "Technology",
    slug: "tech",
  },
  {
    name: "Finance",
    slug: "finance",
  },
];
const { current } = Astro.props;
---

<div class="flex flex-wrap">
  {
    categories.map((category) => {
      return (
        <>
          <a
            class={`${
              category.slug == current
                ? "bg-neutral-400 text-black"
                : "text-neutral-400 bg-neutral-800"
            } hover:bg-neutral-400 hover:text-black border border-transparent flex-shrink-0 group mb-2 mr-2 px-3 py-1.5 rounded-lg w-auto text-sm`}
            id={category.slug}
            href={`/${category.slug}`}
          >
            {category.name}
          </a>
        </>
      );
    })
  }
</div>
