---
import LINK from "./LINK.astro";
---

<p class="italic" id="conclusion">
  If you've enjoyed reading this blog and have learnt at least one new thing, do <LINK
    text="subscribe"
    url="/subscribe"
    target="_self"
  /> to recieve updates whenever I post a new article directly to your inbox.
</p>
