<div class="flex gap-2 text-neutral-300">
  <div class="flex justify-center items-center">
    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      fill="red"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
  <div class="pl-2">
    All the financial information provided is for educational purposes, based on
    my learnings throughout my life from various sources. I am not a financial
    expert, and I do not endorse any investments, strategies, or stock markets.
    Please consult with financial professionals before making any financial
    decisions.
  </div>
</div>
