---
const { text, url, target } = Astro.props;
---

<a
  href={url}
  rel="external"
  class="underline underline-offset-4 text-emerald-300 font-semibold cursor-pointer hover:no-underline"
  title={`View ${text}`}
  target={target ? "_self" : "_blank"}
  >{text}
</a>
