---
const { tags } = Astro.props;
---

{
  tags[0] != undefined && (
    <div class="flex flex-wrap gap-2 sm:text-base mb-5 sm:mb-12">
      {tags.map((tag) => {
        return (
          <a
            href={`/tag/${tag.toLowerCase().replace(" ", "-")}`}
            class="py-1 bg-neutral-700 px-3.5 rounded-full text-base text-neutral-300"
          >
            {tag}
          </a>
        );
      })}
    </div>
  )
}
